.footer {
    background: #6278F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    color: #FFF;
}
.footer ul li {
    display: inline-block;
    margin-right: 32px;
}
.footer ul li:last-child {
    margin-right: 0;    
}
.texto-footer {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat, sans-serif'
}

@media screen and (max-width:920px) {

    .footer {
        display: flex;
        flex-direction: column;    
        
    }
    .footer ul li {
        display: flex;
        flex-direction: column;        
    }
    
}